@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900;&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #fff;
    background: linear-gradient(90deg, rgba(54, 11, 56, 1) 0%, rgba(223, 13, 190, 1) 35%, rgba(68, 26, 37, 1) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* padding: 0 8px; */
    box-sizing: border-box;
}